############################################################
### ZyXEL Keenetic Viva - ПОЛНАЯ ВЕРСИЯ С КОММЕНТАРИЯМИ
### Все пакеты с описаниями на русском языке
############################################################

### Target Vendor/Product (поддержка только Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=ZYXEL
CONFIG_PRODUCT=MT7620

### Target ProductID (выбор платы, макс. 23 ASCII символов)
CONFIG_FIRMWARE_PRODUCT_ID="KN-VIVA"

############################################################
### Конфигурация ядра Linux
############################################################

### Принудительный разгон CPU MT7620 до 600MHz (переопределяет настройки Uboot)
#CONFIG_FIRMWARE_CPU_600MHZ=y

### Включить режим сна CPU MT7620 (понижение до 200MHz в простое)
CONFIG_FIRMWARE_CPU_SLEEP=y

### Выбор драйвера WiFi AP 2.4GHz
### 2.7 = MT7620 v2.7.2.0
### 3.0 = MT7620 v3.0.4.0
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7

### Включить поддержку IPv6 (ОБЯЗАТЕЛЬНО для WG и современного интернета)
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Включить поддержку USB
CONFIG_FIRMWARE_ENABLE_USB=y

### Включить поддержку файловой системы FAT/FAT32. ~0.1MB
CONFIG_FIRMWARE_ENABLE_FAT=n

### Включить поддержку файловой системы exFAT (FAT/FAT32 тоже). ~0.12MB
CONFIG_FIRMWARE_ENABLE_EXFAT=y

### Включить поддержку файловой системы EXT2. ~0.1MB
CONFIG_FIRMWARE_ENABLE_EXT2=n

### Включить поддержку файловой системы EXT3. ~0.2MB
CONFIG_FIRMWARE_ENABLE_EXT3=n

### Включить поддержку файловой системы EXT4 (EXT3/2 тоже). ~0.4MB
CONFIG_FIRMWARE_ENABLE_EXT4=y

### Включить поддержку файловой системы XFS. ~0.6MB
CONFIG_FIRMWARE_ENABLE_XFS=n

### Включить поддержку файловой системы Apple HFS+. ~0.1MB
CONFIG_FIRMWARE_ENABLE_HFS=n

### Включить поддержку FUSE (файловые системы в пространстве пользователя). ~0.1MB
CONFIG_FIRMWARE_ENABLE_FUSE=y

### Включить поддержку файлов/разделов подкачки. ~0.05MB
CONFIG_FIRMWARE_ENABLE_SWAP=y

### Включить модули камер UVC. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_UVC=n

### Включить модули USB-HID. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_HID=n

### Включить модули USB-Serial (напр. pl2303). ~0.03MB
CONFIG_FIRMWARE_INCLUDE_SERIAL=y

### Включить модули USB-Audio. ~0.46MB
CONFIG_FIRMWARE_INCLUDE_AUDIO=n

### Включить модули XFRM (IPsec) и расширения iptables. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_XFRM=y

### Включить модули планирования QoS сети. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_QOS=n

### Включить модуль IMQ для шейперов (небольшая деградация производительности). ~0.02MB
CONFIG_FIRMWARE_INCLUDE_IMQ=n

### Включить модуль IFB для шейперов. ~0.03MB
CONFIG_FIRMWARE_INCLUDE_IFB=n

### Включить утилиту IPSet и модули ядра. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Включить сервер NFSv3. ~0.6MB
CONFIG_FIRMWARE_INCLUDE_NFSD=n

### Включить клиент NFSv3. ~0.5MB
CONFIG_FIRMWARE_INCLUDE_NFSC=n

### Включить клиент CIFS (SMB). ~0.2MB
CONFIG_FIRMWARE_INCLUDE_CIFS=n

### Включить сборку бэкпортированных драйверов для медиа устройств
CONFIG_FIRMWARE_ENABLE_BACKPORTED=n
### Поместить бэкпортированные драйвера в образ прошивки
### (в противном случае они будут собраны в отдельный архив для размещения в /opt/lib/)
CONFIG_FIRMWARE_INCLUDE_BACKPORTED=n

############################################################
### Конфигурация пользовательского пространства
############################################################

### Включить международные ресурсы WebUI. Увеличивает размер прошивки
CONFIG_FIRMWARE_INCLUDE_LANG_BR=n
CONFIG_FIRMWARE_INCLUDE_LANG_CN=n
CONFIG_FIRMWARE_INCLUDE_LANG_CZ=n
CONFIG_FIRMWARE_INCLUDE_LANG_DA=n
CONFIG_FIRMWARE_INCLUDE_LANG_DE=n
CONFIG_FIRMWARE_INCLUDE_LANG_ES=n
CONFIG_FIRMWARE_INCLUDE_LANG_FI=n
CONFIG_FIRMWARE_INCLUDE_LANG_FR=n
CONFIG_FIRMWARE_INCLUDE_LANG_NO=n
CONFIG_FIRMWARE_INCLUDE_LANG_PL=n
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
CONFIG_FIRMWARE_INCLUDE_LANG_SV=n
CONFIG_FIRMWARE_INCLUDE_LANG_UK=n

### Включить FUSE-драйвер NTFS-3G (вместо Paragon "ufsd"). ~0.4MB
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=y

### Включить демон печати LPR. ~0.12MB
CONFIG_FIRMWARE_INCLUDE_LPRD=n

### Включить демон печати ASUS/Eltima USB-over-Ethernet. ~0.05MB
CONFIG_FIRMWARE_INCLUDE_U2EC=n

### Включить демон USB-over-IP. ~0.05MB
CONFIG_FIRMWARE_INCLUDE_USBIP=y

### Включить утилиту "tcpdump". ~0.6MB
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y

### Включить утилиту "socat". ~0.3MB
CONFIG_FIRMWARE_INCLUDE_SOCAT=y

### Включить утилиты "ndisc6" и "rdisc6". ~0.27MB
CONFIG_FIRMWARE_INCLUDE_NDISC6_RDISC6=y

### Включить утилиту "hdparm" (управление таймаутом HDD и APM). ~0.1MB
CONFIG_FIRMWARE_INCLUDE_HDPARM=y

### Включить утилиту "parted" (создание GPT разделов). ~0.3MB
CONFIG_FIRMWARE_INCLUDE_PARTED=y

### Включить сервер SMB (и WINS). ~1.5MB
CONFIG_FIRMWARE_INCLUDE_SMBD=n

### Включить только сервер WINS. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_WINS=n

### Включить syslog для серверов SMB и WINS. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=n

### Включить testparm для сервера SMB. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_TESTPARM=n

### Включить сервер FTP. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_FTPD=y
CONFIG_FIRMWARE_INCLUDE_FTPD_SSL=y

### Включить поддержку аутентификации EAP-TTLS и EAP-PEAP. openssl ~1.2MB, wpa_supplicant +0.04MB
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y

### Включить поддержку HTTPS для DDNS клиента. openssl ~1.2MB
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y

### Включить поддержку HTTPS. openssl ~1.2MB
CONFIG_FIRMWARE_INCLUDE_HTTPS=y

### Включить сервер sftp. openssl ~1.2MB, sftp-server ~0.06MB
CONFIG_FIRMWARE_INCLUDE_SFTP=y

### Включить dropbear SSH. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y

### Ускорить симметричные шифры и хеши dropbear. ~0.06MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y

### Включить OpenSSH вместо dropbear. openssl ~1.2MB, openssh ~1.0MB
CONFIG_FIRMWARE_INCLUDE_OPENSSH=y

### Включить OpenVPN. Требуется IPv6. openssl ~1.2MB, openvpn ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y

### Включить StrongSwan. Модули XFRM ~0.2MB, strongswan ~0.7MB
CONFIG_FIRMWARE_INCLUDE_SSWAN=y

### Включить модуль Wireguard VPN и утилиту
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y

### Включить модуль ядра AmneziaWG
CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y

### Включить эллиптические кривые (EC) в библиотеку openssl. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### Включить исполняемый файл "openssl" для генерации сертификатов. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y

### Включить медиасервер xUPNPd IPTV. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_XUPNPD=y

### Включить медиасервер Minidlna UPnP. ~1.6MB
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n

### Включить торрент-клиент Transmission. openssl ~1.2MB, transmission ~1.5MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n

### Включить Transmission-Web-Control (продвинутый WebUI). ~0.8MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=n

### Включить менеджер загрузок Aria2. openssl ~1.2MB, aria2 ~3.5MB
CONFIG_FIRMWARE_INCLUDE_ARIA=n

### Включить WEB-управление для Aria2. ~0.7MB
CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=n

### Включить прокси TOR. ~2.8MB
CONFIG_FIRMWARE_INCLUDE_TOR=y

### Включить базу данных GeoIP для прокси TOR. ~0.7MB
CONFIG_FIRMWARE_INCLUDE_TOR_GEOIP=y

### Включить базу данных IPv6 GeoIP для прокси TOR. ~0.6MB
CONFIG_FIRMWARE_INCLUDE_TOR_GEOIPV6=y

### Включить OBFS4 для TOR. ~6.1MB
CONFIG_FIRMWARE_INCLUDE_OBFS4=y

### Включить прокси Privoxy. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_PRIVOXY=y

### Включить прокси DNSCrypt. ~0.5MB
CONFIG_FIRMWARE_INCLUDE_DNSCRYPT=y

### Включить Stubby DNS-over-TLS (DoT). ~0.5MB
CONFIG_FIRMWARE_INCLUDE_STUBBY=y

### Включить doh_proxy DNS-over-HTTPS (DoH). ~0.4MB
CONFIG_FIRMWARE_INCLUDE_DOH=y

### Включить поддержку Curl. ~0.15MB
CONFIG_FIRMWARE_INCLUDE_CURL=y

### Включить поддержку QUIC в Curl, требуется openssl 3.5. ~0.4 MB
CONFIG_FIRMWARE_INCLUDE_QUIC=y

### Включить поддержку QUIC в Curl с помощью ngtcp2, требуется openssl 3.5. ~0.5 MB
CONFIG_FIRMWARE_INCLUDE_QUIC_NGTCP2=y

### Включить другие версии openssl вместо стандартной 3.0
### openssl 1.0.2u
CONFIG_FIRMWARE_INCLUDE_OPENSSL_10=y
### openssl 1.1.1w
CONFIG_FIRMWARE_INCLUDE_OPENSSL_11=y
### openssl 3.5
CONFIG_FIRMWARE_INCLUDE_OPENSSL_35=y

### Включить поддержку WPAD
CONFIG_FIRMWARE_INCLUDE_WPAD=y

### Включить поддержку сжатой памяти
CONFIG_FIRMWARE_INCLUDE_ZRAM=y

### Добавить пакет adb
CONFIG_FIRMWARE_INCLUDE_ADB=y

### Включить поддержку LUA. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_LUA=y

### Включить EoIP Ethernet-туннели поверх IP. ~0.01MB
CONFIG_FIRMWARE_INCLUDE_EOIP=y

### Включить поддержку активации KMS. ~0.06MB
CONFIG_FIRMWARE_INCLUDE_VLMCSD=y

### Включить поддержку iPerf3. ~0.13MB
CONFIG_FIRMWARE_INCLUDE_IPERF3=y

### Включить поддержку NFQWS. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

### Уменьшить размер образа TRX
CONFIG_CC_OPTIMIZE_FOR_SIZE=y