
### Include TOR proxy
CONFIG_FIRMWARE_INCLUDE_TOR=y
CONFIG_FIRMWARE_INCLUDE_TOR_GEOIP=y
CONFIG_FIRMWARE_INCLUDE_OBFS4=y

### Include Privoxy proxy
CONFIG_FIRMWARE_INCLUDE_PRIVOXY=y

### Include DNS-over-TLS/HTTPS
CONFIG_FIRMWARE_INCLUDE_STUBBY=y
CONFIG_FIRMWARE_INCLUDE_DOH=y

### Include DPI bypass
CONFIG_FIRMWARE_INCLUDE_NFQWS=y
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_VENDOR=ZYXEL
CONFIG_FIRMWARE_PRODUCT_ID=KN-VIVA
